@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body,
main,
button {
  font-family: 'Russo One', sans-serif;
}
main {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
